.product-description {
	max-height: 2.4em;
	line-height: 1.2em;
	word-wrap: break-word;
	text-align: justify;
	max-width: 98%;
    white-space: nowrap;
	overflow-x: hidden !important;
	text-overflow: ellipsis;
}
.product-upload-picture{
	background-color: #118fe4;
    border-color: transparent;
	color: #f5f5f5;
	cursor: pointer;
	border-radius: 4px;
	margin-right: 15px
}
.product-delete{
	background-color: #e4112d;
    border-color: transparent;
	color: #f5f5f5;
	cursor: pointer;
	border-radius: 4px;
	margin-right: 15px
}


