.container {
	padding: 20px;
}

.create_product_button{
	background-color: #363636;
    border-color: transparent;
	color: #f5f5f5;
	cursor: pointer;
	border-radius: 4px;
}
.create_product_button:hover{
	background-color: #363636;
    border-color: transparent;
	color: #f5f5f5;
	cursor: pointer;
	border-radius: 4px;
}